body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: url('./../assets/simple-background.jpg') no-repeat center center fixed;
  background-size: cover;
  background-color: rgba(255, 255, 255, 0.4);
  background-blend-mode: saturation;
}

img {
  max-width: 100%;
  height: auto;
  border: 0; 
}

#foreground {
  z-index: -2;
  position: absolute;
  width: 100%;
  height: 10em;
  bottom: 0px;
}

#settings {
  z-index: 2;
  position: absolute;
  top: 15px;
  left: 20px; }

#settings img {
  cursor: pointer;
  width: 32px;
  height: 32px;
  opacity: 0.8; }

#settings img:hover {
  opacity: 1; }

#help {
  z-index: 2;
  position: absolute;
  top: 15px;
  left: 65px; }

#help img {
  cursor: pointer;
  width: 30px;
  height: 30px;
  opacity: 0.8; }

#help img:hover {
  opacity: 1; }
/*
#leaderboard {
  z-index: 2;
  position: absolute;
  top: 15px;
  left: 110px; }

#leaderboard img {
  cursor: pointer;
  width: 30px;
  height: 30px;
  opacity: 0.8; }

#leaderboard img:hover {
  opacity: 1; }
*/
#play-pause-button {
  position: absolute;
  /*
  top: 15px;
  left: 155px;*/
  top: 15px;
  left: 110px; }

#play-pause-button img {
  cursor: pointer;
  width: 30px;
  height: 30px;
  opacity: 0.8; }

#play-pause-button img:hover {
  opacity: 1; }

#pause-button {
  display: none; }

#squirrel {
  position: absolute;
  top: 15px;
  right: 20px; }

#squirrel img {
  width: 55px;
  height: 55px;
  opacity: 1; }

#lives {
  position: absolute;
  top: 25px;
  right: 85px; }

#lives img {
  width: 35px;
  height: 35px;
  opacity: 1; }

#score {
  z-index: 2;
  position: absolute;
  top: 85px;
  right: 30px;
  display:inline-block;
  font-size: larger; }

#score img {
  width: 30px;
  height: 30px;
  vertical-align: middle;
  opacity: 1; }

.settings-popup, .help-popup {  
  position: fixed;  
  width: 100%;  
  height: 100%;  
  top: 0;  
  left: 0;  
  right: 0;  
  bottom: 0;  
  margin: auto;  
  background-color: rgba(0,0,0, 0.5);
  overflow: scroll;
} 

.settings-popup-content, .help-popup-content {  
  position: absolute;  
  left: 25%;  
  right: 25%;  
  top: 25%;  
  bottom: 20%;  
  margin: auto;  
  border-radius: 20px;  
  background: white;  
  box-shadow: 2px 2px 2px 2px rgb(82, 82, 82, 0.5);
  z-index: 3;
  /* shadow */
}

.settings-popup-content h1, .help-popup-content h1 {
  text-align: center;
} 

#settings-popup-close, #help-popup-close {
  position: absolute;
  top: 15px;
  left: 15px;
  opacity: 0.8; } 

#help-popup-next-arrow {
  position: absolute;
  top: 1em;
  right: 1em;
  opacity: 0.8;
}

#help-popup-prev-arrow {
  position: absolute;
  top: 1em;
  right: 3em;
  opacity: 0.8;
}


#settings-popup-close img, #help-popup-close img, #help-popup-next-arrow img, #help-popup-prev-arrow img {
  cursor: pointer;
  width: 35px;
  height: 35px;
  opacity: 0.8; }

#settings-popup-close img:hover, #help-popup-close img:hover, #help-popup-next-arrow img:hover, #help-popup-prev-arrow img:hover {
  opacity: 1; }

figure {
  display: flex;
  align-items: center;
}

#help_images {
  position: absolute;
  top: 15%;
}

#help-popup-play-button {
  position: absolute;
  width: 3em;
  left: 50%;
  top: 50%;
  display: block;
}

#help-popup-pause-button {
  position: absolute;
  width: 3em;
  left: 50%;
  top: 50%;
  display: none;
}

.instructions figure img {
  width: 6em;
  margin: 1em;
  border: solid grey 0.1em;
}

#instructions0 > figure img {
  width: 1.5em;
  border: none;
}
/*
#shovel_house_help{
  width: 100px;
  height: 100px;
}

#build_house_help {
  width: 130px;
  height: 100px;
}

#raise_house_help {
  width: 150px;
  height: 100px;
}

#build_button_help {
  width: 80px;
  height: 110px;
}

#shovel_button_help {
  width: 80px;
  height: 100px;
}

#raise_button_help {
  width: 60px;
  height: 100px;
}

#health_help {
  width: 120px;
  height: 40px;
}

#collapse_warning_help {
  width: 100px;
  height: 140px;
}

#collapsed_house_help {
  width: 120px;
  height: 80px;
}

#lost_life_help {
  width: 110px;
  height: 70px;
}

#settings_help {
  width: 32px;
  height: 32px;
}

#info_help, #play_pause_help {
  width: 30px;
  height: 30px;
}
*/

#shovel, #build, #raise  {
  z-index: 2;
  position: absolute;
  bottom: 25px;
  left: 20px }

#shovel p, #build p, #raise p {
  margin: 0;
  color: rgb(80, 80, 80);
  font-weight: 500;
  text-align: center; }

#shovel img{
  cursor: pointer;
  width: 67px;
  height: 72px;
  opacity: 0.8; }

#build img {
  cursor: pointer;
  width: 70px;
  height: 73px;
  opacity: 0.8; }

#raise img {
  cursor: pointer;
  width: 65px;
  height: 75px;
  opacity: 0.8; }

#shovel img:hover, #build img:hover, #raise img:hover {
  opacity: 1; }

#volume-setting {
  position: absolute;
  text-align: center;
  top: 25%;
  left: 10%; }
/* 
#mute-unmute-button {
  position: absolute;
  text-align: center;
  top: 30%;
  left: 10%; } */

#mute-unmute-button img {
  cursor: pointer;
  margin-left: auto;
  margin-right: auto;
  width: 50px;
  height: 50px;
  opacity: 0.8; }

#mute-unmute-button img:hover {
  opacity: 1; }

#difficulty-setting {
  position: absolute;
  text-align: center;
  top: 25%;
  right: 10%; }

#easy-setting, #medium-setting, #hard-setting {
  float: left;
  margin: 0px 10px 0px 10px;
}

#difficulty-setting img {
  cursor: pointer;
  margin-left: auto;
  margin-right: auto;
  width: 50px;
  height: 50px;
  opacity: 0.8; }

#difficulty-setting img:hover {
  opacity: 1; }

#health-bar {
  width: 75%;
  top: 100%;
}

/* https://www.flaticon.com/search?word=x&style_id=136 */

#quit-button {
  color: red;
  opacity: 0.5;
  position: absolute;
  top: 0px;
  left: 155px;
}

#quit-button:hover {
  opacity: 1; }

#quit-button img {
  width: 1em;
}